@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* navigation links */

nav {
    text-align: center;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;

}

#menu li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    margin-left: 50px
    
}


#menu a {

    text-decoration: none;
    color: #1A5276;
    
}

#menu a:hover {
    border-bottom: 0.5px solid;
    color: #85C1E9;
}

.active {
    border-bottom : 0.5px solid;
    color: #85C1E9;
}

/* hero image */

#hero-image{

    height:600px;
    width:100%;
    background: url(../images/hero-image.png) no-repeat center center;
}

#welcome-content p {
    /*text-align: center;
    width: 80%;
    padding: 0;  
    margin: 0 0 10% 10%;
    border: 2px solid #85C1E9;*/
    
}

#welcome-content h1 {

    text-align: center;
    text-transform: capitalize;
    color: blue; 
}