@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

/* navigation links */

nav {
    text-align: center;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;

}

#menu li {
    list-style-type: none;
    display: inline;
    margin-right: 50px;
    margin-left: 50px
    
}


#menu a {

    text-decoration: none;
    color: #1A5276;
    
}

#menu a:hover {
    border-bottom: 0.5px solid;
    color: #85C1E9;
}

.active {
    border-bottom : 0.5px solid;
    color: #85C1E9;
}

#mobile-nav {
    display: none;
}
/* hero image */

#hero-image{

    height:600px;
    width:100%;
    background: url(../images/hero-image.png) no-repeat center center;
    background-color: #38b6ff;
}



#welcome-content p {
    width: 80%;
    padding: 0;  
    margin: 0 auto 20px;
    font-size: 20px;
    line-height: 2;
}

.text-left {
    text-align: left;
 }
 

#welcome-content h1 {

    text-align: center;
    text-transform: capitalize;
    color: black; 
    font-size: 100px;
}
/* Picture Links on index.html */

.picture-container {
        
        height:600px;
        padding-top:20px;
        padding-left:15px;
        padding-right:15px;
    }
    #food {
        float:left;
        width:400px;
        height:350px;
        border:solid black;
        margin-left: 5px;
        background-image: url(../images/food.jpg);
    }
    #cleaning {
        float:left;
        width:400px;
        height:350px; 
        border:solid black;
        margin-left:17%;
        background-image: url(../images/cleaning.jpg);
    }
    #diy {
        float:right;
        width:400px;
        height:350px;
        border:solid black;
        margin-right: 5px;
        background-image: url(../images/diy.jpg);
} 
.image-link {
    text-align: center;
    margin-top: 33.33%;
    color: #fff;
}

footer {
    height: 250px;
    background-color: #38b6ff;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color:  #000000;
}

.social-networks a:hover i {
    transform: rotate( 
 -15deg
  ) scale(2);
    color: white;
}

#food-hack-image {

    height:600px;
    width:100%;
    background: url(../images/food-hacks.png) no-repeat center center;
    background-color: #38b6ff;
    
}

.pages-intro {

    width: 80%;
    padding: 0;  
    margin: 0 auto 20px;
    font-size: 20px;
    line-height: 2;
}
.pages-intro h2 {
    text-align: center;
    text-transform: capitalize;
    color: black; 
    font-size: 50px;
}
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 0 10% 0 10%;
    
  }

  /* Mini Hacks Accordian */

  input[type='checkbox'] { display: none; } 
  .wrap-collabsible { 
      margin: 1.2rem 0; 
    } 
    
    .lbl-toggle 
    { display: block; 
    font-weight: bold; 
    font-family: monospace; 
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 1rem; 
    color: #DDD; 
    background: #0069ff; cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
} 

.lbl-toggle:hover { 
    color: #FFF; 
} 

.lbl-toggle::before { 
    content: ' '; 
    display: inline-block;
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor; 
    vertical-align: middle;
    margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out;
 } 
 
 .toggle:checked+.lbl-toggle::before { 
     transform: rotate(90deg) translateX(-3px); 
    } 
    
    .collapsible-content { 
        max-height: 0px;
        overflow: hidden; transition:
         max-height .25s ease-in-out; 
        } 
        
        .toggle:checked + .lbl-toggle + .collapsible-content { 
            max-height: 350px; 
        } 
        
        .toggle:checked+.lbl-toggle { 
            border-bottom-right-radius: 0; 
            border-bottom-left-radius: 0; 
        } 
        
        .collapsible-content .content-inner { 
            background: rgba(0, 105, 255, .2); 
            border-bottom: 1px solid rgba(0, 105, 255, .45); 
            border-bottom-left-radius: 7px; 
            border-bottom-right-radius: 7px; 
            padding: .5rem 1rem; 
        } 
        
        .collapsible-content p { 
            margin-bottom: 0; 
        }

   .mini-hacks {
    text-align: center;
    width: 80%;
    height:600px 
    margin: 0 0 10% 10%;
    font-size: 20px;
    line-height: 3;
  }

  #cleaning-hack-image {
    height:600px;
    width:100%;
    background: url(../images/cleaning-hacks.png) no-repeat center center;
    background-color: #38b6ff;
  }

  #diy-hack-image {
    height:600px;
    width:100%;
    background: url(../images/diy-hacks.png) no-repeat center center;
    background-color: #38b6ff;
  }

  /* Form */

  #your-hacks-image {
    height: 600px;
    width: 100%;
    background: url(../images/your-hacks-image.png) no-repeat center center;
    background-color: #38b6ff;
}
.form-section {
    margin: 2.4rem auto 8.8rem;
    max-width: 600px;
    width: 100%;
    min-height: 600px;
}
.form-section h2 {
    text-align: center;
    font-size: 24px;
}
.form-section input,
select,
textarea {
    display: inline-block;
    min-height: 44px;
    height: auto;
    border: 1px solid lightgrey;
    color: blakc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 1.4rem;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    letter-spacing: 0.3px;
    line-height: 1.8rem;
    cursor: pointer;
}
.form-section input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    min-height: 1.6rem;
    padding: 3px;
    background-clip: content-box;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.form-section input[type=radio] label {
    cursor: pointer;
}
.form-section input[type=radio]:checked,
.form-section input[type=radio]:checked:focus,
.form-section input[type=radio]:checked:hover {
    background-color: #38b6ff;
    border-color: #38b6ff;
}
.form-section label,
.radio-label {    
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.2rem;
    letter-spacing: 0.3px;
    background: #0245976e;
}
.form-section .rad-label{
    top: -5px;
    position: relative;
}
.form-section input[type=submit] {
    padding: 12px 14px;
    width: 100%;
    color: white;
    font-family: "PT Sans", Arial, serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    background: #38b6ff;
    border: none;
    cursor: pointer;
}
.form-section input[type=submit]:hover,
.form-section input[type=submit]:focus {
    background: #8dd5ff;
    color: black;
}
.form-section textarea {
    align-content: start;
}
.your-idea-form {
    color: #fff;
    background: url(../images/form-image.jpg) no-repeat center center;
    max-width: 600px;
    position: absolute;
    padding: 30px;
    background-size: cover;
    font-size: 20px;
}
    

.submit-btn {
    background: #38b6ff;
     color: black;
     border-color: #0066A2;
     height: 30px;
     width: 30%;
     font-size: 120%;

}
  
  @media screen and (max-width: 800px) {

    #menu {
        display: none;
    }

    #hero-image{

        height:300px;
        width:100%;
        display: block;
        background-position: center top;
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
        background-color: #38b6ff;
     
    }
    #welcome-content p {
        text-align: center;
        line-height: 2;
        min-height: 150px;
    }
    
    #welcome-content h1 {
    
        text-align: center;
        text-transform: capitalize;
        color: black; 
        font-size: 100%;
    }
    
    footer {
        height: 10%;
        background-color: #38b6ff;
    }
    
    .social-networks i {
        font-size: 200%;
        margin: 1%;
        padding: 5%;
        color:  #1A5276;
    } 
    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;  
        z-index: 1;  
        -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
      }
      
      #menuToggle a {
        text-decoration: none;
        color: #232323;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
      }
      
      #menuToggle a:hover {
        color: #4f7794;
      }
      
      
      /* The hamburger button hidden inside an input element */
      #menuToggle input {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: -7px;
        left: -5px;  
        padding: 0;
        cursor: pointer;  
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */  
        -webkit-touch-callout: none;
      }
      
      #menuToggle label {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
      }
      #menuToggle label span {
        display: none;
      }
      
      /*
       * Hamburger
       */
      #menuToggle label div {
        display: block;
        width: 30px;
        height: 2px;
        margin-bottom: 6px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;  
        z-index: 1;  
        -webkit-transform-origin: 4px 0px;  
            -ms-transform-origin: 4px 0px;  
                transform-origin: 4px 0px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      
      #menuToggle label div:first-child {
        -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
      }
      
      #menuToggle label div:nth-child(2) {
          -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
      }
      
      /* 
       * Change the color of the hamburger when toggled
       */
      #menuToggle input:checked + label div {
        background: #232323;
      }
      
      /*
       * Use absolute positioning to place the menu off-screen
       */
      #mobile-nav {
        display: block;
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        /* Hide the menu off-screen to the left */
        left: -100%;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        transition: left 0.3s ease; 
      }
      
      #mobile-nav li {
        padding: 10px 0;
        font-size: 22px;
      }
      
      /*
       * Slide the menu in from left when the input is checked
       */
      #menuToggle input:checked ~ ul {
        left: 0;
      }
      .picture-container {
        
        height:600px;
        padding-top:20px;
        padding-left:15px;
        padding-right:15px;
    }
    #food {
       /* float:left;*/
        width:100%;
        height:300px;
        border:solid black;
        background-image: url(../images/food.jpg);
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
    }
    #cleaning {
       /* float:left; */
        width:100%;
        height:300px;
        border:solid black;
        background-image: url(../images/cleaning.jpg);
        display: block;
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
    }

    #diy {
        /*float:right;*/
        width:100%;
        height:300px;
        border:solid black;
        background-image: url(../images/diy.jpg);
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
        }

        #food-hack-image {
            height:300px;
            width:100%;
            display: block;
            background-position: center top;
            background-size: 100% auto;
            height: auto;
            min-height: 150px;
            background-color: #38b6ff;
        }

        #cleaning-hack-image {
            height:300px;
            width:100%;
            display: block;
            background-position: center top;
            background-size: 100% auto;
            height: auto;
            min-height: 150px;
            background-color: #38b6ff;
            
        }

        #diy-hack-image {
            height:300px;
            width:100%;
            display: block;
            background-position: center top;
            background-size: 100% auto;
            height: auto;
            min-height: 150px;
            background-color: #38b6ff;
        }

        #your-hacks-image {
            height:300px;
            width:100%;
            display: block;
            background-position: center top;
            background-size: 100% auto;
            height: auto;
            min-height: 150px;
            background-color: #38b6ff;
        }

        .form-section{
            margin: 2.4rem 0;
            min-height: 800px;
        }
        .your-idea-form{
            width: calc(100vw - 15px);
            padding: 15px;
        }

        .pages-intro {
            text-align: center;
            text-transform: capitalize;
            color: black; 
            font-size: 100%;
        }
        
        .text-left {
            text-align: center;
            line-height: 2;
            min-height: 150px;
        }

        .iframe-container{
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; 
            height: 0;
          }
          .iframe-container iframe{
            position: absolute; 
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        
      
        
        
    }