@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

/* navigation links */

nav {
    text-align: center;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;

}

#menu li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
    margin-left: 10px
}


#menu a {

    text-decoration: none;
    color: #1A5276;

}

#menu a:hover {
    border-bottom: 0.5px solid;
    color: #85C1E9;
}

.active {
    border-bottom: 0.5px solid;
    color: #85C1E9;
}

/* hero image */

#hero-image {

    height: 600px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center;
    background-color: #38b6ff;
}



#welcome-content p {
    text-align: left;
    line-height: 2;
    min-height: 150px;
    width: 100%;
    padding: 15px 10px;

}

.text-left {
    text-align: left;
}


#welcome-content h1 {

    text-align: center;
    text-transform: capitalize;
    color: black;
    font-size: 2.5rem;
}

/* Picture Links on index.html */

.picture-container {

    height: 600px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#food {
    float: left;
    width: 400px;
    height: 350px;
    border: solid black;
    margin-left: 15px;
    background-image: url(../images/food.jpg);
}

#cleaning {
    float: left;
    width: 400px;
    height: 350px;
    border: solid black;
    margin-left: 15px;
    background-image: url(../images/cleaning.jpg);
}

#diy {
    float: right;
    width: 400px;
    height: 350px;
    border: solid black;
    margin-left: 15px;
    background-image: url(../images/diy.jpg);
}

.image-link {
    text-align: center;
    margin-top: 33.33%;
    color: #fff;
}

.image-link a {
    padding: 5px 10px;
    border: 1px solid black;
    background-color: #38b6ff;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    min-width: 145px;
    display: inline-block;
    cursor: pointer;
}

.image-link a:hover,
.image-link a:focus {
    background: #8dd5ff;
    color: black;
}



footer {
    height: 100px;
    background-color: #38b6ff;
    display: flex;
}

.social-networks {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-around;
    top: 15px;
    position: relative;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #000000;
}

.social-networks a:hover i {
    transform: rotate(-15deg) scale(2);
    color: white;
}

#food-hack-image {

    height: 600px;
    width: 100%;
    background: url(../images/food-hacks.png) no-repeat center center;
    background-color: #38b6ff;

}

.pages-intro {

    width: 80%;
    padding: 0;
    margin: 0 auto 20px;
    font-size: 20px;
    line-height: 2;
}

.pages-intro h2 {
    text-align: center;
    text-transform: capitalize;
    color: black;
    font-size: 50px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 0 10% 0 10%;

}

/* Mini Hacks Accordian */

input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    margin: 1.2rem 0;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #0069ff;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition:
        max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 350px;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(0, 105, 255, .2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}

.mini-hacks {
    text-align: center;
    width: 80%;
    height: 600px;
    margin: 0 0 10% 10%;
    font-size: 20px;
    line-height: 3;
}

/* style the content in the mini hacks secton for better readability */
.content-inner ul li {
    font-size: 18px;
    line-height: 34px;
    margin: 10px 0;
}

.wrap-collabsible {
    width: 80%;
    margin: 10px auto;
}



#cleaning-hack-image {
    height: 600px;
    width: 100%;
    background: url(../images/cleaning-hacks.png) no-repeat center center;
    background-color: #38b6ff;
}

#diy-hack-image {
    height: 600px;
    width: 100%;
    background: url(../images/diy-hacks.png) no-repeat center center;
    background-color: #38b6ff;
}

/* Form */

#your-hacks-image {
    height: 600px;
    width: 100%;
    background: url(../images/your-hacks-image.png) no-repeat center center;
    background-color: #38b6ff;
}

.form-section {
    margin: 2.4rem auto 8.8rem;
    max-width: 600px;
    width: 100%;
    min-height: 600px;
}

.form-section h2 {
    text-align: center;
    font-size: 24px;
}

.form-section input,
select,
textarea {
    display: inline-block;
    min-height: 44px;
    height: auto;
    border: 1px solid lightgrey;
    color: black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 1.4rem;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    letter-spacing: 0.3px;
    line-height: 1.8rem;
    cursor: pointer;
}

.form-section input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    min-height: 1.6rem;
    padding: 3px;
    background-clip: content-box;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.form-section input[type=radio] label {
    cursor: pointer;
}

.form-section input[type=radio]:checked,
.form-section input[type=radio]:checked:focus,
.form-section input[type=radio]:checked:hover {
    background-color: #38b6ff;
    border-color: #38b6ff;
}

.form-section label,
.radio-label {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.2rem;
    letter-spacing: 0.3px;
    background: #0245976e;
}

.form-section .rad-label {
    top: -5px;
    position: relative;
}

.form-section input[type=submit] {
    padding: 12px 14px;
    width: 100%;
    color: white;
    font-family: "PT Sans", Arial, serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    background: #38b6ff;
    border: none;
    cursor: pointer;
}

.form-section input[type=submit]:hover,
.form-section input[type=submit]:focus {
    background: #8dd5ff;
    color: black;
}

.form-section textarea {
    align-content: start;
}

.your-idea-form {
    color: #fff;
    background: url(../images/form-image.jpg) no-repeat center center;
    max-width: 600px;
    position: absolute;
    padding: 30px;
    background-size: cover;
    font-size: 20px;
}


.submit-btn {
    background: #38b6ff;
    color: black;
    border-color: #0066A2;
    height: 30px;
    width: 30%;
    font-size: 120%;
}

.topnav {
    display: none;
}

/* Mobile responsive */
@media screen and (max-width: 800px) {

    #menu {
        display: none;
    }

    /* Style rules for the navigational "burger button" icon on the top navigation bar */
    .topnav {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        font-size: 40px;
        margin: 0 0 40px 0;
        padding: 0;
        font-family: 'Grand Hotel', Helvetica, sans-serif;
        /* Sets the font for the site logo */
        font-weight: 500;
        height: 150px;
        position: fixed;
        /* Stays permanently at the top of the page */
        top: 0;
        left: 0;
        z-index: 5;
        background-color: #38b6ff;
        background: url(../images/hero-image.png) no-repeat center center;
        background-size: calc(100% - 16px) auto;
        /* Places the top bar above everything else. Previously had overlap issues with checkbox on about page */
    }

    .topnav .cleaning {
        background: url(../images/cleaning.jpg) no-repeat center center;
        background-size: 200% auto;
        height: 160px;
    }

    .tab-label span {
        width: 60px;
        border: 3px solid black;
        margin: 15px;
        position: relative;
        top: 35px;
        display: block;
    }

    .topnav ul {
        list-style: none;
        /* Removes bullet points from list */
        margin: 0 10px 0 0;
        padding: 0;
        background: white;
        color: black;
        display: inline-block;
        position: fixed;
        /* Nav bar is fixed so when the navigation list appears it too must be fixed */
        width: 100%;
        top: 100px;
        overflow-x: hidden;
        text-align: left;
    }

    /* Styling the labels used for navigation in the top nav. */
    .topnav label {
        display: block;
        cursor: pointer;
        position: relative;
        top: -20px;
        /* Allows the cursor to display as a pointer, showing the user the label is clickable */
    }

    /* Used to change the burger button to white on hover */
    .topnav label:hover span {
        border-color: white;
    }

    .topnav input[type="checkbox"] {
        position: absolute;
        left: -9999px;
    }

    .topnav input[type="checkbox"]:checked+label span {
        border-color: white;
    }

    .topnav input[type="checkbox"]+label span {
        border-color: black;
    }

    .topnav input[type="checkbox"]~ul {
        height: 0;
        transform: scaleY(0);
        left: 0;
    }

    .topnav input[type="checkbox"]:checked~ul {
        height: auto;
        transform-origin: top;
        transition: transform .2s ease-out;
        transform: scaleY(1);
    }

    /* make links look more like buttons */
    .nav-menu a {
        background: #1a5276;
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 15px;
        width: 100%;
        border: 1px solid white;
        cursor: pointer;
        border-left: 8px solid white;
        border-right: 8px solid white;
    }

    /* End of style rules for navigation menu and navigation bar */


    #hero-image {

        height: 300px;
        width: 100%;
        display: block;
        background-position: center top;
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
        background-color: #38b6ff;

    }

    #welcome-content p {
        text-align: center;
        line-height: 2;
        min-height: 150px;
    }

    #welcome-content h1 {

        text-align: center;
        text-transform: capitalize;
        color: black;
        font-size: 2.4rem;
    }

    #welcome-content p br {
        display: none;
    }


    .social-networks i {
        font-size: 200%;
        margin: 1%;
        padding: 5%;
        color: #1A5276;
    }

/* picture-container goes full width by being block instead of flex on small devices */
.picture-container{
    display: block;
}

    .image-link {
        margin-top: 60px;
    }

    .section-block {
        float: none !important;
        width: calc(100% - 30px) !important;
        height: 150px !important;
        border: solid black;
        background-image: url(../images/food.jpg);
        background-size: cover !important;
        height: auto;
        margin: 15px !important;
    }

    #food {
        /* float:left;*/
        width: 100%;
        height: 300px;
        border: solid black;
        background-image: url(../images/food.jpg);
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
    }

    #cleaning {
        /* float:left; */
        width: 100%;
        height: 300px;
        border: solid black;
        background-image: url(../images/cleaning.jpg);
        display: block;
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
    }

    #diy {
        /*float:right;*/
        width: 100%;
        height: 300px;
        border: solid black;
        background-image: url(../images/diy.jpg);
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
    }

    #food-hack-image {
        height: 300px;
        width: 100%;
        display: block;
        background-position: center top;
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
        background-color: #38b6ff;
    }

    #cleaning-hack-image {
        height: 300px;
        width: 100%;
        display: block;
        background-position: center top;
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
        background-color: #38b6ff;

    }

    #diy-hack-image {
        height: 300px;
        width: 100%;
        display: block;
        background-position: center top;
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
        background-color: #38b6ff;
    }

    #your-hacks-image {
        height: 300px;
        width: 100%;
        display: block;
        background-position: center top;
        background-size: 100% auto;
        height: auto;
        min-height: 150px;
        background-color: #38b6ff;
    }

    .form-section {
        margin: 2.4rem 0;
        min-height: 800px;
    }

    .your-idea-form {
        width: calc(100vw - 15px);
        padding: 15px;
    }

    .pages-intro {
        text-align: center;
        text-transform: capitalize;
        color: black;
        font-size: 100%;
    }

    .text-left {
        text-align: center;
        line-height: 2;
        min-height: 150px;
    }

    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* columns go 100% on mobile*/
    .column {
        float: none;
        width: 100%;
        padding: 15px 0;
    }

    .wrap-collabsible {
        width: 100%;
    }

    .toggle:checked+.lbl-toggle+.collapsible-content {
        max-height: 100%;
    }

}